<ng-container *ngIf="false; else content">
    <koudou-loader></koudou-loader>
</ng-container>
<ng-template #content>
    <yzy-bar
        [title]="'Profil'"
        [actions]="headerActions"
        (action)="handleHeaderActions($event)"
    ></yzy-bar>
    <div class="form-container">
        <yzy-form
            [formModel]="profilFormDescriptor"
            (formReady)="setProfilForm($event)"
        ></yzy-form>
        <button (click)="changePasswordView()">
            Changer de mot de passe
        </button>
    </div>
</ng-template>
