<ng-container [ngSwitch]="state" *ngIf="albumIdForDelete == null">
    <ng-container *ngSwitchCase="CrudStates.List">
        <div class="table-container">
            <yzy-bar
                [title]="'Albums'"
                [formModel]="filtersModel"
                [actions]="headerActions"
                (action)="handleHeaderAction($event)"
                (formReady)="filterFormReady($event)"
            ></yzy-bar>
            <yzy-table
                [columns]="columns"
                [items]="albums"
                [itemsCount]="albumsCount"
                [itemByPage]="itemByPage"
                [pageLinkNumber]="5"
                [isPaginator]="true"
                [isFrontDataTreatment]="false"
                (onSort)="sort($event)"
                (onPageChange)="pageChange($event)"
                (onAction)="handleLineActions($event)"
            >
            </yzy-table>
        </div>
    </ng-container>
    <ng-container *ngSwitchDefault> </ng-container>
</ng-container>
<yzy-question
    [question]="question"
    [answers]="answer"
    *ngIf="albumIdForDelete != null"
    (select)="confirmDelete($event)"
></yzy-question>
