:host {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    align-self: center;
    margin: auto;
    background: var(--form-bg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 2px;
}

.login-container {
    display: flex;
    flex-flow: row;
    align-items: stretch;
    position: relative;
}
.loader-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    height: 100%;
    width: 100%;
    background: var(--form-bg);
    koudou-loader {
        position: relative;
        left: -2.5rem;
        top: -2.5rem;
    }

    &.hide {
        z-index: -1;
        opacity: 0;
        transition: all ease 0.1s;
    }
}

.error {
    align-self: flex-start;
    color: var(--invalid-color);
    padding: 0.25rem;
}

koudou-logo {
    margin-top: 3rem;
    margin-left: 3rem;
    font-size: 2.6rem;
}

.description {
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-width: 40rem;
    font-size: 1rem;
    border-right: 1px solid var(--accent-color);
    position: relative;
    background: var(--sidebar-bg);
    height: 100%;
}
.description-text {
    padding: 1rem 3rem 4rem 3rem;
    color: rgb(236, 236, 236);
}
.dark-mode {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    cursor: pointer;
}
